.darkness{
background-color: #000;
height: 20vh;
background-image:none;
}
.look{
    
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScnplaxp7gh3BWZcUeNlsO56jKW79EA0FOow&usqp=CAU');
}

.card{
    height: 20vh;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScnplaxp7gh3BWZcUeNlsO56jKW79EA0FOow&usqp=CAU');
}